{% include "shared/get_company_id" %}

{% if company_id == nil %}

  {"status": "500", "message": "{{ l.no_company_id }}"}

{% elsif params.name == nil %}

  {"status": "422", "message": "{{ l.no_name }}"}

{% else %}

  {% assign tasks_insertion = "create_task" | db_insert_one: _id: params._id, company_id: company_id, name: params.name %}

  {% if tasks_insertion.created_count != 1 %}

    {"status": "422", "message": "{{ l.not_created }}"}

  {% else %}

    {"status": "201", "message": "{{ l.created }}", "_id": "{{ tasks_insertion.document._id }}"}

  {% endif %}
{% endif %}